html{
  background-color:grey;
}

body {
background: black; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(black, blue); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(black, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(black, blue); /* For Firefox 3.6 to 15 */
background: linear-gradient(black, blue); /* Standard syntax */
  width:100%;
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */

img {
  max-width: 100%;
  width:20em;
  height:20em;
  display:flex;
  justify-content:center;
  align-items:flex-end;



}
.container{
/*  position:relative;*/
}
/***************** NAV *****************/

.topnav {
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    text-shadow: .1em .1em black;
}


.topnav a:hover {
    text-decoration:none;
    color: red;
}


.topnav .icon {
    display: none;
}


/**************** HERO *****************/
header{
  background-image:url("../images/logo-scarfcat.png");
  background-repeat: no-repeat;
  background-position: top right;


}
header img {
  max-width:100%;
  height: 15em;
  width:10em;
  padding: 3em;
  border-radius: 300px;
  /*position:relative;*/

}

 figure img:hover{
 -webkit-box-shadow: 0px 0px 30px 0px blue;
 -moz-box-shadow:    0px 0px 30px 0px blue;
  box-shadow:         0px 0px 30px 0px blue;
}
figure img:last-of-type:hover{
  -moz-box-shadow:    0px 0px 30px 0px blue;
  box-shadow:         0px 0px 30px 0px blue;
}
header h1{

  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color:red;

}
h1 .logo-w {
  font-size: 6rem;
  font-family: 'Pacifico', cursive;
  color:red;
  text-shadow:.5em .5em 1em white;
}


/**************** ASIDE ****************/
aside{
  background-color: black;
  padding: 3em;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}
input[type="submit"]:hover{
  padding: .25rem;
  background-color: #1A1FD5;
  border: 1px solid #1A1FD5;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}
label{
  font-size:2rem;
}

/*********** PRODUCTS SECTION ***********/

section h2{
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #cc1914;
}

section {



}

.item-container h3{
display:flex;
justify-content: center;
max-width:100%;
font-family: 'Sanchez', serif;
font-size:1.875em;/*30px*/
background-color: black;
color:white;
padding: 1em;
}
.row{
max-width:100%;
background-color:white;
box-shadow: .5em .5em 1em black;
}
.col-sm-4{
  background-color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 1.5em;

}
.box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;


}
.box-info{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
  width:25em;
  padding-left: 2em;
  padding-right:2em;
  padding-top:2em;
  margin-top:1em;


}
i:hover{
  color: blue;
}

}
p{
  font-size: 1em;
}
h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Sanchez', serif;

}

h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Sanchez', serif;

}


/*media queries*/
@media screen and (max-width: 400px) {
    header {
      width:100%;
      font-size:100%;
    }
    header img{
      display:none;
    }
    header h1{

      font-family: 'Pacifico', cursive;
      font-size: 2em;
      color:red;

    }
    h1 .logo-w {
      font-size: 4rem;
      font-family: 'Pacifico', cursive;
      color:red;
      text-shadow:.5em .5em 1em white;
    }
    header{
      background-image:none;
    }
header q{
  display:none;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding-bottom:0em;
    text-shadow: .1em .1em black;
}
    aside{
      background-color: black;
      position:center;
    }
    .item-container{
      margin-left:2em;
    }
  }
footer{
  background-image:url("../images/logo-scarfcat.png");
  background-repeat: no-repeat;
  background-position: top;
  padding:8em;
}
footer p{
  font-size: 1em;
}


}
}
@media screen and (max-width: 768px) and (min-width: 520px) {
html{
  font-size:50%;
}
.box{
  padding:30em;
}
}
#item{
  width:30em;
  height: 10em;
  background-color:white;
  float:right;

}
